
/* Drawing form css */
    #drawing-form .button-next {
        border-radius: 4px;
    }

    #drawing-form textarea,
    #drawing-form input[name="name"] {
        width: 90%;
    }

    div .field > label { font-size: 12px; display: inline; }
    div .step {
        -moz-box-shadow: 5px 5px 5px #ddd;
        -webkit-box-shadow: 5px 5px 5px #ddd;
        box-shadow: 5px 5px 5px #ddd;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        -khtml-border-radius: 6px;
        border-radius: 6px;
        border: 1px #ddd solid;
        padding: 6px;
        margin-top: 4px;
        margin-bottom: 8px;
        background-color: white;
        background-repeat: no-repeat;
        min-height: 240px;
    }
    span.form-image { float: left; margin-left: -66px; }
    span.form-image > img { width:46px; height:46px; }


    label {
        clear: both;
        color: #344E63;
        display: block;
        font-size: 12px;
        font-weight: normal;
        margin: 0 0 5px;
        padding: 0;
        text-shadow: 0 1px 0 #FCFAFF;
    }
    p.step-text {
        margin: 0px;
        text-align:left;
    }
    p.instructions {
        margin: 0px;
        margin-top: 10px;
        margin-bottom: 0px;
        text-align: left;
        color: #47556C;
        font-size: 14px;
        font-weight: normal;
        font-family: sans-serif;
    }
